.image-cards {
  display: grid;
  grid-template-columns: 282px 282px 282px;
  grid-template-rows: 361px 361px;
  grid-gap: 20px 17px;
}

@media (max-width: 903px) {
  .image-cards {
    display: grid;
    grid-template-columns: 282px 282px;
    grid-template-rows: 361px 361px 361px;
    grid-gap: 20px 17px;
  }
}

@media (max-width: 603px) {
  .image-cards {
    display: grid;
    width: 282px;
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 361px);
    grid-gap: 20px 0px;
    margin: 0 auto;
  }
}
